/* GENERAL */
* {
    scroll-behavior: smooth;
}

.bg-yellow {
    background-color: #FCD232;
    
}

.img-50 {
    height: 50px;
}

.bg-red {
    background-color: #ff1300 !important;
}

.bg-grey {
    background-color: #302F38;
}

.c-white {
    color: #fff;
}

.btn-color {
    background-color: #FF1300 !important;
    color: #fff !important;
}

.p-custom {
    padding-top: 90px !important;
    padding-bottom: 50px !important;
}

.img-50 {
    height: 50px;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.x-small {
    font-size: x-small;
}

.pointer {
    cursor: pointer;
}

.b-left {
    border-left: 1px solid grey;
}
/* ------------------------------------------------ */

.banner {
    height: 40vh;
    background: linear-gradient(90deg, #000000 0%, white 0%, rgba(0, 0, 0, 0.60) 0%), url(../img/successful-team-group-young-business.jpg) no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row p {
    font-weight: bold;
    align-self: center;
    margin: 20px 0;
}

.row i {
    width: 30%;
    text-align: center;
    align-self: center;
    color: #302F38;
}

input[type=checkbox] {
    display: none;
}

.x-small {
    font-size: x-small;
}

.bh-50 {
    height: 50px !important;
}

.height-custom {
    height: 105vh;
}


.hamburger {
    display: none;
}

/* RESPONSIVE */

@media (max-width: 768px){
    .nav-link {
        display: none;
    }

    .navbar {
        flex-wrap: nowrap !important;
    }

    .hamburger {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .toggle-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50px;
        align-items: flex-end;
    }

    .toggle-nav:hover {
        cursor: pointer;
    }

    .toggle-nav div {
        width: 100%;
        height: 7px;
        border-radius: 0px;
        background-color: #302f38;
        margin: 3px;
    }

    .toggle-nav div:nth-child(2) {
        width: 75%;
    }

    .toggle-nav div:nth-child(3) {
        width: 50%;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        height: 100%;
        background-color: #302e38;
        display: flex;
        flex-direction: column;
        width: 0;
        overflow-x: hidden;
        transition: width 0.35s ease-in-out;
    }

    .sidebar a{
        color: white;
        padding: 15px;
        font-size: 1.2em;
        text-decoration: none;
        transition: 0.5s;
        white-space: nowrap;
        cursor: pointer;
    }

    .sidebar a i {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .sidebar-button {
        padding: 15px;
    }
}
/* --------------------------------------- */
/* ANIMATIONS */

.banner h1, span {
    font-size: 82px;
}

.banner-animation {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}

.banner-animation:first-of-type {
    animation: showup 9s infinite;
}

.banner-animation:last-of-type {
    width: 0px;
    animation: reveal 9s infinite;
}

.banner-animation:last-of-type span {
    margin-left: -355px;
    animation: slidein 9s infinite;
}

@keyframes showup {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes slidein {
    0% {margin-left:-800px;}
    20% {margin-left:-800px;}
    35% {margin-left:0px;}
    100% {margin-left:0px;}
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

.card-animation {
    overflow: hidden;

    transition: transform 0.5s ease;
}
  
.card-animation:hover {
    transform: scale(1.05);
}

.card-body {
    transform: translateY(77%) !important;

    transition: transform 0.5s ease;
}

.card-animation:hover .card-body {
    transform: translateY(0) !important;
}

.nav-animation {
    position: relative;
}

.nav-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease-in-out;
}

.nav-animation:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.btn-animation,
.btn-animation2 {
    position: relative;


    z-index: 1;
}

.btn-animation:hover {
    transform: scaleX(1.07);
}

.btn-animation::after,
.btn-animation2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease-in-out;

    z-index: -1;
}

.btn-animation:hover::after,
.btn-animation2:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
