.img-50 {
    height: 50px;
}

.bg-yellow {
    background-color: #fcd232 !important;
}

.bg-red {
    background-color: #ff1300 !important;
}

.bg-grey {
    background-color: #302F38;
}

.c-white {
    color: #fff;
}

.x-small {
    font-size: x-small;
}

.bh-50 {
    height: 50px !important;
}

.height-custom {
    height: 82vh;
}

.p-custom {
    padding-top: 90px !important;
    padding-bottom: 50px !important;
}

/* .btn2 {
    position: relative;
}

.btn2.animating {
    background-color: transparent;
    color: transparent !important;
    user-select: none;
    cursor: default;
}

.btn2::before {
    content: "";
    display: none;
    position: absolute;
    inset: 0;
    border-radius: .25em;
    animation: squish 500ms;
    animation-fill-mode: forwards;
}

.btn2.animating::before {
    display: block;
}

@keyframes squish {
    100% {
        top: 45% !important;
        bottom: 45% !important;
    }
} */